@page "/counter"
@using SchoolCore.Models
@using SchoolData.DataDB
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        SchoolDB db = new SchoolDB();

        //var users = await _context.Users.AsNoTracking().ToListAsync();

        var c = db.Students.FirstOrDefault(x=>x.Id==2);

        //var cities = db.Cities.ToList();

        if (c != null)
        {
            c.FullName = "Ahmed";
            db.SaveChanges();
        }
        // City city = new City();
        // city.Name = "Zliten From Blazor";
        // city.Name2 = "Zliten";
        // db.Cities.Add(city);
        // db.SaveChanges();


        // Student s = new Student();
        // s.FullName = "111";


    }
}
